body {
    margin: 0;
}
header {
    background: #999;
    color: white;
    padding: 15px 15px 0 15px;
}

header h1 {
    margin:0;
    display: inline;
}

nav ul {
    margin:0;
    padding:0 0 0 15px;
    display: inline;
}

nav ul li {
    background: rgb(38, 94, 47); 
    color: white;
    display: inline-block;
    list-style-type: none;
    padding: 5px 15px;
    
}

nav ul li a {
    color:white;
    padding: 15px 15px 0 15px;
}

div.row {
    clear: both;
}

div.col {
    background: #333;
    border-radius: 5px;
    color: white;
    padding: 10px .5%;
    float: left;
    width: 31%;
    margin: .5%;
}

footer {
    clear: both;
}